extend /layout

block content
  div.panel.panel-default
    div.panel-heading Forgot password
    div.panel-body
      p Enter your email address here and we'll send you an email with a link that will let you reset your password.
      form(action="/forgot-password", method="POST")
        div.form-group
          label(for="email") Email
          input.form-control(type="email", id="email", name="email", placeholder="Your email")
        if error
          div.alert.alert-warning #{error}
        input(type="submit", class="btn btn-primary", value="Submit")