extend /layout

block content
  div.panel.panel-default
    div.panel-heading Create a new password
    div.panel-body
      form(action="/forgot-password/#{token}", method="POST")
        input(type="hidden", name="_csrf", value=_csrf)
        div.form-group
          label(for="password") Password
          input.form-control(type="password", id="password", name="password", placeholder="New password")
        if error
          div.alert.alert-warning #{error}
        input(type="submit", class="btn btn-primary", value="Submit")