extend /layout

block content
  div.panel.panel-default
    div.panel-heading Forgot password
    div.panel-body This link has expired. If you forgot your password click 
      a(href="/forgot-password") here 
      | .