extend /layout

block content
  div.row
    div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      div.panel.panel-default
        div.panel-heading Forgot password
        div.panel-body Email with link for password reset sent.
